<!--<html ng-app="tasklistApp">
  <head>
    
    <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
    
  </head>-->
  <!--<body ng-controller='TasksCtrl'>-->
    



<div class="main">
  
    <div class="heading" >Current tasks
       <div class="taskRow">Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Priority</span></div>



    </div>

<form ng-submit="addTask()">
  <input type="text" size="35" ng-model="task.todo" />
  <!--<input type="text" ng-model="task.priority" />-->
  <select name="" ng-model="task.priority"
                ng-options="option.id as option.name for option in priorityOptions"></select>
  
  <input class="addButton" type="submit" value="Add Task" />
</form>

<div ng-repeat="task in tasks | expired:false" class="taskOutput">
  <a ng-click="completeTask(task)"><input type="checkbox" id="checkbox1" value="complete"/><label for ="checkbox1"></label></a>
  <a ng-href="" class="eachTask" ng-show="taskDone">{{task.todo}}</a>
  <select name="" ng-model="task.priority" ng-options="option.id as option.name for option in priorityOptions" class="eachPriority"></select>

  <a ng-click="deleteTask(task)" class="removeTask"><i class="fa fa-check-circle-o fa-5x"></i></a>

</tr>
</div>





  <!--<form ng-submit="addTask()">-->
  <!--<input type="text" size="35" ng-model="task.todo" />-->
  <!--<input type="text" ng-model="task.priority" />-->
  <!--<select name="" ng-model="task.priority"
                ng-options="option.id as option.name for option in priorityOptions"></select>
  
  <input class="addButton" type="submit" value="Add Task" />
</form>-->
Tasks:{{tasks}}
Task:{{task}}



    <!-- <ul> 
      <li ng-repeat="message in messages"> -->
        <!-- exit a message -->
        <!--<input ng-model="message.text" ng-change="messages.$save(message)" />-->
        <!-- delete message -->
        <!--<button ng-click="messages.$remove(message)">X</button>
      </li>
    </ul>-->
    <!-- push a new message into the array -->
    <!--<form ng-submit="addMessage(newMessageText)">
      <input ng-model="newMessageText" />
      <button type="submit">add message</button>
    </form> 
  </div>-->
    
  </body>
</html>

    


